<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.add_role %}
      {% if 'role-create' == request.resolver_match.url_name %}
        <div class="menu-role menu-list menu-here">
            Add New
        </div>
      {% else %}
        <div class="menu-role menu-create">
          <a href="{% url 'libtekin256:role-create' %}">Add New</a>
        </div>
      {% endif %}
    {% endif %}

    {% comment %}
    {% if perms.view_role %}
      {% if 'role-list' == request.resolver_match.url_name %}
        <div class="menu-role menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-role menu-list">
          <a href="{% url 'libtekin:role-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_role %}
      {% if 'role-detail' == request.resolver_match.url_name %}
        <div class="menu-role menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-role menu-detail">
          <a href="{% url 'libtekin:role-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_role %}
      {% if 'role-copy' == request.resolver_match.url_name %}
        <div class="menu-role menu-detail menu-here">
            Copy
        </div>
      {% elif object.pk %}
        <div class="menu-role menu-copy">
          <a href="{% url 'libtekin:role-copy' object.pk %}">Copy</a>
        </div>
      {% endif %}
    {% endif %}


    {% if perms.change_role %}
      {% if 'role-update' == request.resolver_match.url_name %}
        <div class="menu-role menu-update menu-here">
          Edit
        </div>
      {% elif object.pk %}
        <div class="menu-role menu-update">
          <a href="{% url 'libtekin:role-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_role %}
      {% if 'role-delete' == request.resolver_match.url_name %}
        <div class="menu-role menu-delete menu-here">
          Delete
        </div>
      {% elif object.pk %}
        <div class="menu-role menu-delete">
          <a href="{% url 'libtekin:role-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}

  {% endcomment %}

  </div>

</div>
