{% extends './_form.html' %}

{% block content %}
    {% include './article_menu.html' %}
    <h2>{% if object %}{{ object }}{% else %}Article{% endif %}</h2>
    <div class="form" id="div_form">
        {{ form.errors }}
        <form id="form_article" method="POST">
            {{ form.media }}
            {% csrf_token %}

            {% include 'touglates/form_field.html' with field=form.mamodel %}
            {% include 'touglates/form_field.html' with field=form.common_name %}
            {% include 'touglates/form_field.html' with field=form.category %}
            {% include 'touglates/form_field.html' with field=form.status %}
            {% include 'touglates/form_field.html' with field=form.statusdate %}
            {% include 'touglates/form_field.html' with field=form.inventorydate %}
            {% include 'touglates/form_field.html' with field=form.home_location %}
            {% include 'touglates/form_field.html' with field=form.assignee %}
            {% include 'touglates/form_field.html' with field=form.customfield01 %}
            {% include 'touglates/form_field.html' with field=form.customfield02 %}
            {% include 'touglates/form_field.html' with field=form.customfield03 %}
            {% include 'touglates/form_field.html' with field=form.customfield04 %}
            {% include 'touglates/form_field.html' with field=form.customfield05 %}
            {% include 'touglates/form_field.html' with field=form.customfield06 %}
            {% include 'touglates/form_field.html' with field=form.customfield07 %}
            {% include 'touglates/form_field.html' with field=form.customfield08 %}
            {% include 'touglates/form_field.html' with field=form.customfield09 %}
            {% include 'touglates/form_field.html' with field=form.customfield10 %}
            {% include 'touglates/form_field.html' with field=form.customfield11 %}
            {% include 'touglates/form_field.html' with field=form.customfield12 %}
            {% include 'touglates/form_field.html' with field=form.customfield13 %}
            {% include 'touglates/form_field.html' with field=form.customfield14 %}
            {% include 'touglates/form_field.html' with field=form.customfield15 %}
            {% include 'touglates/form_field.html' with field=form.customfield16 %}

            <h2>Links</h2>
            {{ articlelinks.management_form }}

            {% for form in articlelinks.forms %}
                <div>
                    <div>Link</div>
                    {% if form.instance.pk %}
                        
                        {% include 'touglates/detail_field.html' with field=form.instance.name %}
                        {% include 'touglates/detail_field.html' with field=form.instance.url %}
                        {% with pk=form.instance.pk|stringformat:"d" %}
                        {% with button="<button type='button' class='formsetEdit' data-form='articlelink_"|add:pk|add:"'>edit</button>"|safe %}
                            {% include "touglates/detail_field.html" with field=button %}
                        {% endwith %}
                        {% endwith %}
                        {% for hiddenfield in form.hidden_fields %}
                            {{ hiddenfield }}
                        {% endfor %}
                        <div class="formsetform" style="display:none" id="articlelink_{{ form.instance.pk }}">
                            {% include 'touglates/form_field.html' with field=form.name %}
                            {% include 'touglates/form_field.html' with field=form.url %}
                            {% include 'touglates/form_field.html' with field=form.DELETE %}
                        </div>
                    {% else %}
                        {% for hiddenfield in form.hidden_fields %}
                            {{ hiddenfield }}
                        {% endfor %}
                        <div class="formsetform">
                            {% include 'touglates/form_field.html' with field=form.name %}
                            {% include 'touglates/form_field.html' with field=form.url %}
                            {% include 'touglates/form_field.html' with field=form.DELETE %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}



            <h2>Notes</h2>
            {{ notes.management_form }}

            {% for form in notes.forms %}
                <div>
                    <div>Note</div>
                       
				   {% for hiddenfield in form.hidden_fields %}
						{{ hiddenfield }}
					{% endfor %}
					<div class="formsetform">
						{% include 'touglates/form_field.html' with field=form.when %}
						{% include 'touglates/form_field.html' with field=form.standard_subject %}
						{% include 'touglates/form_field.html' with field=form.individual_subject %}
						{% include 'touglates/form_field.html' with field=form.description %}
						{% include 'touglates/form_field.html' with field=form.is_pinned %}
						{% include 'touglates/form_field.html' with field=form.DELETE %}
					</div>
               </div>
            {% endfor %}

            {% include 'touglates/form_field.html' with field="<button type='submit'>Submit</button>"  label_tag="Submit Form" %}            

        </form>
    </div>
    {% include './article_menu.html' %}

{% endblock %}
{% block bottomscript %}
{{ block.super }}
<script>
        
    function getIndexTwin() {
        var twin = null
        var mamodelSelectedOptions = document.getElementById("{{ form.mamodel.id_for_label }}").selectedOptions
        var customFieldIds = {
            "customfield01":"{{ form.customfield01.id_for_label }}",
            "customfield02":"{{ form.customfield02.id_for_label }}",
            "customfield03":"{{ form.customfield03.id_for_label }}",
            "customfield04":"{{ form.customfield04.id_for_label }}",
            "customfield05":"{{ form.customfield05.id_for_label }}",
            "customfield06":"{{ form.customfield06.id_for_label }}",
            "customfield07":"{{ form.customfield07.id_for_label }}",
            "customfield08":"{{ form.customfield08.id_for_label }}",
            "customfield09":"{{ form.customfield09.id_for_label }}",
            "customfield10":"{{ form.customfield10.id_for_label }}",
            "customfield11":"{{ form.customfield11.id_for_label }}",
            "customfield12":"{{ form.customfield12.id_for_label }}",
            "customfield13":"{{ form.customfield13.id_for_label }}",
            "customfield14":"{{ form.customfield14.id_for_label }}",
            "customfield15":"{{ form.customfield15.id_for_label }}",
            "customfield16":"{{ form.customfield16.id_for_label }}",
        }

        if("inventory_index_twin" in mamodelSelectedOptions[0].dataset) {

            var twin = document.getElementById(customFieldIds[mamodelSelectedOptions[0].dataset.inventory_index_twin])
        }
        return twin
    }
    function decorateIndexTwin() {
        twin = getIndexTwin()
        console.log(twin)
        oldTwins = document.querySelectorAll("label[class='indexTwin']")
        for(twin of oldTwins) {
            twin.classList.remove("indexTwin")
        }

        if(twin!=null) {
            twin.required=true
            var label = document.querySelector("label[for='" + twin.id + "']")
            if(label!==null) {
				label.classList.add("indexTwin")
			}
        }
    }
    document.getElementById("form_article").addEventListener("change", function(e) {
        decorateIndexTwin()
    })

</script>
<script>
    var buttons = document.getElementsByClassName("formsetEdit")
    for(var button of buttons) {
        button.addEventListener('click', function(e) {
            e.preventDefault()
            document.getElementById(e.target.dataset.form).style.display="block"
            e.target.style.display="none"
        })
    }
</script>
<script>
	function enabledisablesubjects() {
		standardsubjects=document.querySelectorAll("select[name$='standard_subject']")
		for(standardsubject of standardsubjects) {
			individualsubject=document.getElementById(standardsubject.id.replace("standard", "individual"))
			if(standardsubject.value > "") {
				individualsubject.disabled=true
				individualsubject.dataset.restoreval=individualsubject.value
				individualsubject.value=""	
			}
			else {
				individualsubject.disabled=false
				if(individualsubject.dataset.restoreval) {
					individualsubject.value=individualsubject.dataset.restoreval
				}
			}
		}
	}
	document.addEventListener("change", function(e) {
		elid = e.target.id
		if( elid.substring(elid.length - 16) == "standard_subject") {
			enabledisablesubjects()
		} 
	})
	window.addEventListener("load", enabledisablesubjects())
	</script>
{% endblock %}

