<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.add_article %}
      {% if 'article-create' == request.resolver_match.url_name %}
        <div class="menu-article menu-list menu-here">
            Add New
        </div>
      {% else %}
        <div class="menu-article menu-create">
          <a href="{% url 'libtekin256:article-create' %}">Add New</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_article %}
      {% if 'article-list' == request.resolver_match.url_name %}
        <div class="menu-article menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-article menu-list">
          <a href="{% url 'libtekin256:article-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_article %}
      {% if 'article-detail' == request.resolver_match.url_name %}
        <div class="menu-article menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-article menu-detail">
          <a href="{% url 'libtekin256:article-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_article %}
      {% if 'article-copy' == request.resolver_match.url_name %}
        <div class="menu-article menu-detail menu-here">
            Copy
        </div>
      {% elif object.pk %}
        <div class="menu-article menu-copy">
          <a href="{% url 'libtekin256:article-copy' object.pk %}">Copy</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_article %}
      {% if 'article-update' == request.resolver_match.url_name %}
        <div class="menu-article menu-update menu-here">
          <button type="submit" form="form_article" class="menu-article menu-here" >Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-article menu-update">
          <a href="{% url 'libtekin256:article-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_article %}
      {% if 'article-delete' == request.resolver_match.url_name %}
        <div class="menu-article menu-delete menu-here">
          <form method="POST" action="{% url 'libtekin256:article-delete' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="menu-article" >Confirm Delete</button>
          </form>
        </div>
      {% elif object.pk %}
        <div class="menu-article menu-delete">
          <a href="{% url 'libtekin256:article-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}

  </div>

</div>
