{% extends './_base.html' %}

{% block content %}
    {% include './mamodel_menu.html' %}

    <h2>Models</h2>
    <div class="list" id="div_detail">
        <table>
            <tr>
                <th></th>
                <th>{{ labels.mamodel.category }}</th>
                <th>{{ labels.mamodel.brand }}</th>
                <th>{{ labels.mamodel.name }}</th>
                <th>{{ labels.mamodel.number }}</th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'libtekin256:mamodel-detail' object.pk %}">view</a></td>
                    <td>{{ object.category }}</td>
                    <td>{{ object.brand }}</td>
                    <td>{{ object.name }}</td>
                    <td>{{ object.number }}</td>

                </tr>
        {% endfor %}
        </table>
    </div>
    {% include './mamodel_menu.html' %}

{% endblock %}
{% block bottomscript %}
{{ block.super }}
{% endblock %}

