{% extends './_base.html' %}

{% block content %}
    {% include './mamodel_menu.html' %}
    <h2>{{ Mamodel  }}</h2>
    <div class="detail" id="div_detail">

        {% include 'touglates/detail_field.html' with field=object.category label=labels.mamodel.category %}
        {% include 'touglates/detail_field.html' with field=object.brand label=labels.mamodel.brand  %}
        {% include 'touglates/detail_field.html' with field=object.name label=labels.mamodel.name  %}
        {% include 'touglates/detail_field.html' with field=object.number label=labels.mamodel.number  %}

        <form method="POST">
            {% csrf_token %}
            {% include 'touglates/form_field.html' with field="<button type='submit'>Delete</button>"  label_tag="Confirm Delete" %}            
        </form>

    {% include './mamodel_menu.html' %}

{% endblock %}
{% block bottomscript %}
{{ block.super }}
{% endblock %}

