{% extends './_form.html' %}

{% block content %}
    {% include './mamodel_menu.html' %}
    <h2>{% if object %}{{ object }}{% else %}Model{% endif %}</h2>
    <div class="form" id="div_form">
        {{ form.errors }}
        <form id="form_item" method="POST">
            {{ form.media }}
            {% csrf_token %}

            {% include 'touglates/form_field.html' with field=form.category %}
            {% include 'touglates/form_field.html' with field=form.brand %}
            {% include 'touglates/form_field.html' with field=form.name %}
            {% include 'touglates/form_field.html' with field=form.number %}
            {% include 'touglates/form_field.html' with field=form.inventory_index_twin %}
         
        
            <button type="Submit">Submit</button>

        </form>
    </div>
    {% include './mamodel_menu.html' %}

{% endblock %}
{% block bottomscript %}
{{ block.super }}
{% endblock %}

